# ------------------------------------------------------------------------------
# DEBUG
# ------------------------------------------------------------------------------
# Set to False in production
DEBUG=True

# ------------------------------------------------------------------------------
# SECURITY AND HOSTS
# ------------------------------------------------------------------------------
# Use a strong secret key for production environments
DJANGO_SECRET_KEY=django-insecure-your-super-secret-key-here
# Comma-separated list of allowed hosts
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com
# Comma-separated list of trusted origins for CSRF protection
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://yourdomain.com

# ------------------------------------------------------------------------------
# DATABASE CONFIGURATION
# ------------------------------------------------------------------------------
# Format: backend://user:password@host:port/dbname
# SQLite example: sqlite:///db.sqlite3
# PostgreSQL example: postgres://django_user:django_pass@localhost:5432/home_services_db
DJANGO_DATABASE_URL=postgres://django_user:django_pass@localhost:5432/home_services_db

# ------------------------------------------------------------------------------
# INTERNATIONALIZATION AND LOGGING
# ------------------------------------------------------------------------------
# Timezone used by Django and the custom LocalTimeFormatter
TZ=America/Sao_Paulo
# Options: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO

# ------------------------------------------------------------------------------
# MAILERSEND EMAIL SERVICE
# ------------------------------------------------------------------------------
MAILERSEND_API_KEY=mlsn.7b9c...your_api_key_here
MAILERSEND_SENDER_EMAIL=no-reply@danieldias.dev.br
SENDER_NAME=Network Monitor - Home Dani & Stephie

# ------------------------------------------------------------------------------
# INTERNET_STATUS APP SETTINGS
# ------------------------------------------------------------------------------
# Full path to the Ookla Speedtest CLI binary (e.g., /usr/bin/speedtest)
OOKLA_CLI_COMMAND=/usr/bin/speedtest
# Retention period for connectivity and speed test data in months
DATA_CLEANUP_RETENTION_MONTHS=12

# ------------------------------------------------------------------------------
#  DJANGO SUPERUSER DEFINITIONS
# ------------------------------------------------------------------------------
# User, pass and e-mail for the superuser automatic criation during application
# startup. The superuser is only created once.
DJANGO_SUPERUSER_USERNAME="admin"
DJANGO_SUPERUSER_EMAIL="admin@homeservices.com"
DJANGO_SUPERUSER_PASSWORD="admin"
