# -----------------------------------------------------------------------------
# CONFIGURAÇÕES GERAIS DO PROJETO
# -----------------------------------------------------------------------------
# ATENÇÃO: Mude a chave secreta em produção! Você pode gerar uma nova aqui: https://djecrety.ir/
DJANGO_SECRET_KEY=django-insecure-j@@b0)u$5*hgnoy02u1)qv6c*nv$%ib@+k(x!58bz229)bb1x#

# Define se o Django deve rodar em modo DEBUG. Use 'True' para desenvolvimento e 'False' para produção.
DEBUG=True

# Lista de hosts/domínios permitidos para esta aplicação, separados por vírgula.
# Exemplo para produção: DJANGO_ALLOWED_HOSTS=services.homeserver,www.services.homeserver
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Fuso horário para a aplicação.
TZ=America/Sao_Paulo


# -----------------------------------------------------------------------------
# CONFIGURAÇÕES DO BANCO DE DADOS (POSTGRESQL)
# -----------------------------------------------------------------------------
# Estas variáveis são usadas pelo container do Postgres para inicializar o banco de dados
# e também para construir a URL de conexão abaixo.
DB_NAME=home_services_db
DB_USER=seu_usuario_postgres
DB_PASSWORD=sua_senha_forte_postgres
DB_HOST=postgres
DB_PORT=5432

# URL de conexão completa para o Django.
# O `settings.py` usará esta variável para se conectar ao banco de dados.
DJANGO_DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Configuração automática de superusuário
DJANGO_SUPERUSER_USERNAME="admin"
DJANGO_SUPERUSER_EMAIL="admin@homeservices.com"
DJANGO_SUPERUSER_PASSWORD="admin"

# -----------------------------------------------------------------------------
# CONFIGURAÇÕES DO CELERY (REDIS)
# -----------------------------------------------------------------------------
# URL para o broker do Celery (Redis), que gerencia a fila de tarefas.
CELERY_BROKER_URL=redis://redis:6379/0

# URL para o backend de resultados do Celery (Redis), que armazena os resultados das tarefas.
CELERY_RESULT_BACKEND=redis://redis:6379/0
